Repository oacore/design, pull requests merged in 2020-06, with the labels that each got.

#193 Improve TextField API and styles
  src/elements/forms/text-field.css
  src/elements/forms/text-field.jsx
  src/elements/forms/text-field.md
Labels: ⚛️ components, 🎨 css

#183 Fix Button:link text colour and decoration
  src/elements/button/button.css
  src/elements/button/button.md
Labels: bug

#186 Add missing monospace font
  src/foundation/type.css
Labels: bug, 🎨 css

#195 Include LoadingBar in default export
  src/elements/index.js
  src/elements/loading-bar/index.js
Labels: bug

#198 Develop form control
  src/elements/forms/control.jsx
  src/elements/forms/forms.md
  src/elements/forms/index.css
  src/elements/forms/styles.css
  src/elements/forms/text-field.css
Labels: ⚛️ components, 🎨 css

#204 Add the ProgressSpinner component
  src/elements/index.css
  src/elements/index.js
  src/elements/progress-spinner/index.js
  src/elements/progress-spinner/progress-spinner.jsx
  src/elements/progress-spinner/progress-spinner.md
  src/elements/progress-spinner/styles.css
Labels: ⚛️ components, 🎨 css
